<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>words </h3>
    <% arrWords.forEach(e=> {%>
        <h3>
            <%= e.en %>
        </h3>
        <p>
            <%= e.vn %>
        </p>
        <%});%>
</body>

</html>